#img1{

	height:100px;
	height:100px;
	
	
	

	

}

#div1{
	
	padding:0px;
}



#h2{
	
	font-weight:bold;
	font-size:35px;
	color:goldenrod;
	font-family:cambria;
	
	text-align:center;
	
	
	
}

#navbar{
	
	margin-top:-25px;
	padding:12px 15px;
	font-size:18px;
	font-weight:bold;
	font-family:cambria;
	margin-left:0px;
	
	

}
#navbar>li>a{
	
	color:darkgoldenrod;
	border-radius:12px 12ppx 0px;
	
}


#btn1{
	
	margin-top:10px;
}
#li{
	display:none;
	
}

#glyp{
	
	color:white;
}


#p{
	
	font-weight:bold;
	color:white;
	font-family:cambria;
	border-bottom:1px solid white;
	
}
#slider{
	
	
	
	border:2px solid gray;
	margin-left:0px;
	margin-top:10px;
	height:404px;
	border-radius:12px;
	opacity:0.90;
	
	
}

#panel{
	
	margin-top:10px;
	font-family:cambria;
	font-size:17px;
	font-weight:bold;
	height:404px;
	color:brown;
}
#pnl{
	
	margin-top:10px;
	opacity:0.70;
	font-family:cambria;
	font-size:16px;
	font-weight:bold;
	height:404px;
	color:brown;
}

#footer{
	padding:36px;
	margin-top:-15px;
	opacity:0.60;
	background-color:lightcyan;
}
#hh1{
	text-align:center;
	font-size:25px;
	margin-top:-29px;
	font-family:cambria;
	font-weight:bold;
}
#hh2{
	
	font-size:20px;
	margin-top:-10px;
	font-family:cambria;
	font-weight:bold;
	text-align:center;
}
#btn2{
	
	margin-top:-16px;
}

#col{
	
	padding:0px;
	line-height:0px;
}

#col2{
	
	padding:0px;
		line-height:0px;
}
#imgs{
	
	
	height:145px;
	width:145px;
	color:white;
	float:right;
	opacity:0.60;
	
}
#p5{
	color:deepskyblue;
	font-family:cambria;
	font-weight:bold;
	opacity:0.60;
	font-size:18px;
	
	
}
#login{
	color:black;
	margin-top:0px;
	font-family:cambria;
	font-weight:bold;
	font-size:18px;
	opacity:0.85;
}
#onhead{
	
	margin-top:-20px;
	font-family:cambria;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	padding:1px;
	color:khaki;
	margin-bottom:16px;
}
#srp{
	
	padding-bottom:0px;
}
#aaa{
	height:140px;
	opacity:0.85;
	font-weight:bold;
	font-family:cambria;
	margin-top:-15px;
	color:rebeccapurple;
}
#head{
	
	font-family:cambria;
	font-weight:bold;
	font-size:35px;
	text-align:center;
	padding:1px;
	color:khaki;
	opacity:0.75;
}
#aaaa{
	height:140px;
	opacity:0.68;
	font-weight:bold;
	font-family:cambria;
	margin-top:-15px;
	color:maroon;
}
